[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = github pages site source code
[access "refs/*"]
	owner = group user/helenam100
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/helenam100
	label-Verified = -1..+1 group user/helenam100
	push = group user/helenam100
	read = group user/helenam100
	rebase = group user/helenam100
	removeReviewer = group user/helenam100
	submit = group user/helenam100
[access "refs/heads/*"]
	create = group user/helenam100
	push = +force group user/helenam100
	pushMerge = group user/helenam100
	read = group user/helenam100
[access "refs/tags/*"]
	push = group user/helenam100
	push = +force group user/helenam100
